@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --light-red: hsl(356,100%,66%);
    --very-light-red: hsl(355, 100%, 74%);
    --very-dark-blue: hsl(208, 49%, 24%);
    --white: hsl(0, 0%, 100%);
    --grayish-blue: hsl(240, 2%, 79%);
    --very-dark-grayish-blue: hsl(207, 13%, 34%);
    --dark-black-blue: hsl(240, 10%, 16%);
    --primary-font: "Overpass", sans-serif;
    --secondary-font: "Ubuntu", sans-serif
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
    text-decoration: none;
}


nav {
    width: 80vw;
    display: flex;
    align-items: center;
    margin: 1rem 5rem;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--white);
}

#title {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 2.5em;
}

.links-group {
    display: flex;
}

.links-2 ul{
    gap: 1rem;
}

.links-2 {
    margin-left: auto;
}

.links-group ul{
    list-style-type: none;
    display: flex;
    gap: 1.3rem;
    font-family: var(--secondary-font);
    font-weight: 400;
}

.item-group {
    position: relative;
    display: flex;
}

.item-group ul{
    list-style-type: none;
}
.item-group-title {
    font-weight: 400;
    font-size: 1em;
    color: var(--white);
    cursor: pointer;    
}
.item-group-title.active {
    text-decoration: underline;
}

.item-group ul {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 1rem 1.5rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: #5757573a 0 10px 20px 5px;
    left: -0;
    top: 100vw;
    display: flex;
    flex-direction: column;
}

.item-group.active ul {
    opacity: 1;
    top: 100%;
}